# Archivos y carpetas generados por Node.js y npm
node_modules
npm-debug.log
yarn-error.log

# Archivos de respaldo y temporales
*.bak
*.swp
*.tmp

# Archivos de caché de npm y yarn
.cache
.yarn-cache

# Archivos y carpetas específicos de desarrollo local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de build y bundles de producción
build
dist
node_modules

# Archivos de configuración de Visual Studio Code
.vscode

#carpeta de reportes de cobeetura de los tests


